#footer-box {
    margin: 0;
    padding: 0 10px 0 0;
}


@media (max-width: 991px) {
    #harvard-img, #facebook-img{
        width: 75%;
        padding-right: 10%;
    }
}  

@media (max-width: 767px) {
    #harvard-img, #facebook-img{
        width: 70%;
        padding-right: 0px;
    }
}  

