.footer {
    text-align: right;
    padding: 7px 30px 7px 0;
    background-color: #f4f8fb;
}

.footer p {
    font-size: 13px;
    letter-spacing: 0.4;
}


@media (max-width: 991px) {
    #harvard-img, #facebook-img{
        width: 75%;
        padding-right: 10%;
    }
}  

@media (max-width: 767px) {
    #harvard-img, #facebook-img{
        width: 70%;
        padding-right: 0px;
    }
}  


