@charset "UTF-8";


/*-----------------------------------------------------------
    1. Primary Formatting
    2. Animation
    3. Pre-loader
    4. Social Media Nav Bar
    5. Top Section
    6. Main Section
    7. Gallery
    8. Footer
    9. Min-Width Responsiveness
    10. Max-Width Responsiveness
-------------------------------------------------------------*/


/*-----------------------------------------------------------
    Primary Formatting
-------------------------------------------------------------*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-xl-5, .col-md-10, .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
  /* transition: all 0.3s; */
}

a:focus,
a:hover {
  color: #f44336;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.pad-50 {
  padding-top: 50px;
}

.pad-125 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.float-none {
  float: none !important;
}

.no-border {
  border: none !important;
}

section {
  position: relative;
}

p {
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 0;
}


/*-----------------------------------------------------------
    Animation
-------------------------------------------------------------*/

.has-animation {
  opacity: 0;
  -webkit-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
  -webkit-transition: translateY(80px);
  transform: translateY(80px);
}

.has-animation.animate-in {
  opacity: 1;
  -webkit-transition: translateY(0px);
  transform: translateY(0px);
}



/*-----------------------------------------------------------
    Pre-loader
-------------------------------------------------------------*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
}
#loader-wrapper .loader-img {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1003;
}
#loader-wrapper .loader-img img {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 58px;
  height: auto;
  z-index: 1002;
  margin-left: -29px;
  margin-top: -25px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1.5s ease-out;
  transition: all 0.3s 1.5s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-img {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.2s 0.3s ease;
  transition: all 0.2s 0.3s ease;
}


/*-----------------------------------------------------------
    Social Media Nav Bar
-------------------------------------------------------------*/

.social-icons {
  margin-top: 32px;
}
.social-icons li:not(:last-child) {
  margin-right: 20px;
}
.social-icons li a {
  display: inline-block;
}
.social-icons li a i {
  background-image: url(../images/icon-img-harsh.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.social-icons li a i.icon-facebook {
  background-position: 0 0;
}
.social-icons li a i.icon-instagram {
  background-position: -59px 0;
}
.social-icons li a i.icon-linkedin {
  background-position: -118px 0;
}
.social-icons li a i.icon-github {
  background-position: -175px 0;
  width: 32px;
}
.social-icons li a i.icon-email {
  background-position: -235px 0;
  width: 32px;
}
.social-icons li a i.icon-resume {
  background-position: -300px 0;
}


/*-----------------------------------------------------------
    Top Section
-------------------------------------------------------------*/

.top-section h1 {
  font-size: 70px;
  line-height: 80px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 25px;
}
.top-section p {
  font-size: 32px;
  color: #000;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 10px;
}
.top-section .left-image {
  background-color: #e6f0f8;
  min-height: 500px;
}
.top-section .left-image img {
  margin-top: 120px;
  width: 200px;
}
.top-section.style-one {
  margin: 30px;
  margin-bottom: 0;
}
.top-section.style-one .avatar-img {
  border: 10px #fff solid;
  border-radius: 100%;
  width: 400px;
}

.bg-pattern-2 {
  background-image: url(../images/bg-pattern-2.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.location {
  margin-top: 25px;
}

.geo-pin {
  display: inline-block;
}

.top-section .location i {
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
}

/*-----------------------------------------------------------
    Main Section
-------------------------------------------------------------*/

.main-section article {
  margin-bottom: 100px;
  position: relative;
}
.main-section .entry-meta-content {
  position: relative;
  padding-left: 230px;
  padding-right: 100px;
}
.main-section .entry-content-bottom {
  padding-left: 230px;
  padding-right: 100px;
}
.main-section .entry-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #000;
  margin-bottom: 5px;
}
.main-section .entry-meta {
  font-size: 14px;
  color: #999;
  font-weight: 500;
  font-style: italic;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-section .entry-meta a {
  font-weight: 500;
  color: #666;
}
.main-section .entry-content {
  line-height: 30px;
  font-size: 16px;
  color: #111;
  font-weight: 400;
  margin-bottom: 15px;
}
.main-section .entry-date {
  position: absolute;
  top: 0;
  left: 50px;
}
.main-section.style-one article {
  margin-bottom: 75px;
}
.main-section.style-one .entry-title {
  margin-bottom: 10px;
}
.main-section.style-one .entry-content {
  margin-bottom: 26px;
}

.section-title {
  text-align: center;
  font-size: 25px;
}

#last-section {
  margin-bottom: 25px;
}


/*-----------------------------------------------------------
    Gallery Section
-------------------------------------------------------------*/

#exp-last, #edu-last {
  margin-bottom: 125px;
}

.top-hr {
  margin-top: 0;
}

.bottom-div {
  margin-bottom: 50px;
}

.opening-info {
  text-align: center; 
  font-weight: 700; 
  font-family: Montserrat, sans-serif; 
  padding: 0 15px 0 15px; 
  margin-bottom: 10px;
  font-size: 20px; 
  font-style: italic;
}

.adhoc-info {
  text-align: center; 
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.closing-info {
  text-align: center; 
  margin-bottom: 10px; 
  font-weight: 700; 
  font-family: Montserrat, sans-serif; 
  padding: 0 15px 0 15px; 
  font-size: 20px; 
  font-style: italic;
  color: #999;
}

.closing-info:hover {
  color: #f44336;
}




/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/*-----------------------------------------------------------
    Footer
-------------------------------------------------------------*/

.footer {
  padding: 7px 30px 7px 30px;
  background-color: #f4f8fb;
}

.footer p {
  font-size: 10px;
  letter-spacing: 0.4;
  display: inline-block;
}

.footer p.copyright {
  float: right;
}

.footer img {
  width: 1%;
}

.footer img.resume {
  margin-left: 15px;
}


/*-----------------------------------------------------------
    Min-Width Responsiveness
-------------------------------------------------------------*/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


@media (min-width: 768px) {

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }


  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

.container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
.container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

 .container {
    max-width: 1140px;
  }

}

@media (min-width: 1800px) {
  .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding: 0 200px;
  }
}


/*-----------------------------------------------------------
    Max-Width Responsiveness
-------------------------------------------------------------*/


@media (max-width: 1600px) {
  .footer img {
      width: 1.5%;
  }
} 


@media (max-width: 1400px) {
  .top-section.pad-125 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .top-section .avatar-img {
    width: 380px;
  }

  .top-section h1 {
    margin-top: 20px;
  }

  .footer img {
    width: 1.75%;
  }

}


@media (min-width: 1300px) {
  .container.full-width {
    max-width: 100%;
  }
}


@media (max-width: 1024px) {
  .top-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .top-section.style-one .avatar-img {
    width: 275px;
  }

  .main-section .entry-meta-content, .main-section .entry-content-bottom {
    padding-left: 185px;
    padding-right: 50px;
  }

  .main-section .entry-date {
    font-size: 60px;
    left: 15px;
  }

  .footer img {
    width: 2%;
  }
}


@media (max-width: 991px) {

  .logo img {
    width: 50px;
  }

  .dots:before {
    display: none !important;
  }

  .main-section .entry-meta-content, .main-section .entry-content-bottom {
    padding-left: 110px;
    padding-right: 50px;
  }

  .main-section .entry-title {
    font-size: 24px;
    line-height: 32px;
  }

  .main-section .entry-date {
    font-size: 45px;
  }

  .main-section .entry-date span {
    font-size: 12px;
    bottom: 7px;
  }

  .main-section .entry-content-bottom h5, .main-section .entry-read-more, .main-section .entry-meta {
    font-size: 14px;
  }

  .main-section .entry-content {
    line-height: 24px;
    font-size: 14px;
  }

  #harvard-img, #facebook-img, #tripadvisor-img, #logitech-img{
    width: 75%;
    padding-right: 10%;
  }

.footer img {
    width: 2.5%;
  }

}



@media (max-width: 767px) {
  .top-section h1.title-one {
    font-size: 26px;
    line-height: 36px;
  }

  .top-section h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .top-section p {
    font-size: 20px;
    line-height: 34px;
  }

  .top-section.pad-125 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .top-section .col-md-6 {
    text-align: center !important;
  }

  .social-icons {
    margin-top: 25px;
  }

  .social-icons li a i {
    width: 25px;
    height: 25px;
  }

  .social-icons li:not(:last-child) {
    margin-right: 14px;
  }

  .social-icons li a i.icon-instagram {
    background-position: -49px 0;
  }

  .social-icons li a i.icon-linkedin {
    background-position: -98px 0;
  }

  .social-icons li a i.icon-github {
    background-position: -145px 0;
  }

  .social-icons li a i.icon-email {
    background-position: -196px 0;
  }

  .social-icons li a i.icon-resume {
    background-position: -248px 0;
  }

  .main-section .entry-content-bottom h5 {
    display: none;
  }

  .page-title.mb100, .fullwidth-slider .slider-4,  .main-section.style-one article, .main-section article {
    margin-bottom: 50px;
  }

  .page-nav li a {
    line-height: 36px;
  }

  #harvard-img, #facebook-img, #tripadvisor-img, #logitech-img{
    width: 70%;
    padding-right: 0px;
  }

.footer {
    padding: 7px 15px 7px 15px;
    background-color: #f4f8fb;
  }

}



@media (max-width: 580px) {

  .main-section .entry-date span {
    left: 50px;
    right: auto;
  }

  .main-section .entry-content-bottom, .main-section .entry-meta-content {
    padding-left: 110px;
    padding-right: 0px;
  }

  .main-section .entry-content-bottom h5, .main-section .entry-read-more, .main-section .entry-meta {
    font-size: 14px;
    margin-left: 0;
  }

  .main-section .entry-content {
    margin-bottom: 20px;
  }

  .footer img {
    width: 3%;
}

.main-section .entry-title {
  font-size: 16px;
  line-height: 32px;
}

}


/* Breakpoint between my Galaxy S20+ and my iPhone 11 is around 381px */
@media (max-width: 381px) {

  .main-section .entry-content-bottom, .main-section .entry-meta-content {
    padding-left: 100px;
    padding-right: 0px;
  }

  .main-section .entry-content-bottom h5, .main-section .entry-read-more, .main-section .entry-meta {
    font-size: 13.5px;
    margin-left: 0;
  }

  .main-section .entry-title {
  font-size: 13.5px;
}

}