.notfound-wrapper {
	background-image: url(../images/bg-pattern-2.jpg);
	background-repeat: repeat;
	h1 {
		font-size: 180px;
		color: #999;
		letter-spacing: 5px;
		font-weight: bold;
		line-height: 140px;
		margin-bottom: 20px;
	}
	p {
		color: #111;
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 30px;
		display: inline-block;
	}
}
