

// stylelint-disable-next-line scss/dollar-variable-default
$primary   : #3639AE;
$secondary : #673BB7 !default;
$success   : #10d876 !default;
$info      : #2754e6 !default;
$warning   : #FE9431 !default;
$danger    : #E50202 !default;
$light     : #F8F9FE !default;
$dark      : #262F5A;

// Body
$body-bg   : #fff;
// Typography




// $headings-font-family:        $fm;
$font-size-base         : 1rem !default;
$font-weight-base       : 400 !default;
// $line-height-base    : 1.6;
$h1-font-size           : 2.25rem;
$h2-font-size           : 1.875rem;
$h3-font-size           : 1.5rem;
$h4-font-size           : 1.125rem;
$h5-font-size           : 1rem;
$h6-font-size           : 0.875rem;



//color for coller pallate
$color1: #553264;
$color2: #222222;
$color2: #f8f8f8;

.bg-gray {background-color:#f8f8f8; }
.bg-grey {background-color: #737586;}
.bg-black{background-color: #000; }
// button

// social
$social-text-size 		:12px;
$social-text-color		:#111;




